<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.prutest.mappers.EmployeesMapper">


    <select id="getTopFiveNamesOfEmployeesAndProfit" resultType="java.util.HashMap">
        select em.firstName, em.lastName, sum(amount) as total
        from employees em
        join customers cus on em.id = cus.salesRepEmployee
        join payments pay on pay.customerId = cus.id
        group by em.lastName
        limit 5;
    </select>

    <select id="getTopFiveEmployees" resultType="com.example.prutest.entities.Employee">
        select *
        from employees
        where id in (select em.id
                     from employees as em
                     join customers as cus on em.id = cus.salesRepEmployee
                     join payments as pay on pay.customerId = cus.id
                     group by em.firstName, em.lastName
                     having sum(amount) > 0
                     order by sum(amount) desc)
        limit 5;
    </select>

    <select id="getAllEmployees" resultType="com.example.prutest.entities.Employee">
        select * from employees;
    </select>

    <insert id="addEmployee">
        insert into employees (firstName, lastName, email, phone, officeCode, reportsTo, jobTitle)
        values (#{firstName}, #{lastName}, #{email}, #{phone}, #{officeCode}, #{reportsTo}, #{jobTitle})
    </insert>

</mapper>